/*Flex 1*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(208, 218, 212);
    color: white;
    width: 100%;
    
}
h2{
    text-align: center;
    color: rgb(42, 123, 228);
    margin-top: 5px;
    font-family:'Times New Roman', Times, serif;
}
.navbarflex1{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    padding: 10px 70px 10px 70px;
    margin: 40px 20px 40px 10px;
    justify-content: space-between ;
}
.logo{
    font-weight: 700;


}
.links{
    display: flex;
    gap: 30px;
}
.links a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    font-weight: 5px;

}

.Contact{
    border: 5px rgb(26, 118, 154) solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(26, 118, 154);

}
.Contact a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/*Flex 2*/

.navbarflex2{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    padding: 10px 70px 10px 70px;
    margin: 40px 20px 40px 10px;
    justify-content: space-between ;
    
}
.links2{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 5px;
    }

.links2 a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    
}
.Contact2{
    border: 5px rgb(26, 118, 154) solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(26, 118, 154);

}
.logo2{
    font-weight: 700;
}

/*Flex 3*/
.navbarflex3{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    padding: 10px 70px 10px 70px;
    margin: 40px 20px 40px 10px;
    justify-content: space-between ;
    
}
.links3{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 5px;
    }

.links3 a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    
}
.Contact3{
    border: 5px rgb(26, 118, 154) solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(26, 118, 154);

}
.logo3{
    font-weight: 700;
}

/*GRID 1*/
.navbargrid1{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    padding: 10px 70px 10px 70px;
    margin: 40px 20px 40px 10px;
    align-items: center;

}

.logoG1{
    font-weight: 700;

}
.linksG1{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    gap: 30px;
    font-weight: 5px;
}
.linksG1 a{
    text-decoration: none;
    color: rgb(228, 228, 228) ;
}
.ContactG1{
    justify-self: right;
    border: 5px rgb(26, 118, 154) solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(26, 118, 154);
}
.ContactG1 a {
    text-decoration: none;
    color: rgb(228, 228, 228);
}

/*GRID 2*/

.navbargrid2{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    padding: 10px 70px 10px 70px;
    margin: 40px 20px 40px 10px;

}

.linksG2{
    display: grid;
    grid-auto-flow: column;
    justify-self: left;
    gap: 30px;
    align-items: center;
    }

.linksG2 a{
    text-decoration: none;
    color:rgb(228, 228, 228) ;
}
.ContactG2{

    border: 5px rgb(26, 118, 154) solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(26, 118, 154);

}    
.logoG2{
    align-content: center;
    justify-self:right;
    font-weight: 700;
    
}

/*GRID 3*/
.navbargrid3{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgb(43, 43, 43);
    padding: 10px 70px 10px 70px;
    margin: 40px 20px 40px 10px;
    
}
.linksG3{
    display: grid;
    grid-auto-flow: column;
    justify-self: right;
    align-items: center;
    gap: 30px;
    
    }

.linksG3 a{
    text-decoration: none;
    color: rgb(228, 228, 228);
    
}
.ContactG3{
    border: 5px rgb(26, 118, 154) solid;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    background-color: rgb(26, 118, 154);

}
.logoG3{
    font-weight: 700;
    align-content: center;
}   